@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Cairo+Play:wght@200..1000&family=Mada:wght@200..900&family=Noto+Kufi+Arabic:wght@100..900&family=Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    90deg,
    rgb(20, 19, 19) -1.19%,
    rgb(13, 13, 43) 100%
  );
  height: 100vh;
  font-family: "Noto Kufi Arabic", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
input,
button {
  font: inherit;

  border: 0;
  outline: none;
  background: rgba(171, 171, 235, 0.11);
}
.container {
  margin: 0 1rem;
  width: min(50rem, 100%);
}

.box {
  position: relative;
  width: 80%;
}
.box input {
  width: 100%;
  padding: .65rem 1rem;
  border-radius: 2rem;
  color: #aab9eb9a;
}
.box button {
  all: unset;
  position: absolute;
  right: 1rem;
  top: .6rem;
}
.box button i {
  color: rgba(245, 245, 220, 0.438);
  cursor: pointer;
}

.box button i:hover {
  color: #fff;
}
#list{
  padding: 1rem;
  margin-block-start: 1rem;

  background-color:rgba(30, 30, 73, 0.140) ;
  border-radius: 10px;
}
#list li{
padding: .4rem  1rem;
color: #aab9eb9a;

}
#list li:hover{
  background-color:rgba(30, 30, 73, 0.140) ;
  border-radius: 5px; 
  color: #aab9ebf3;
}
.hide{
  display: none;
}