@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Cairo+Play:wght@200..1000&family=Mada:wght@200..900&family=Noto+Kufi+Arabic:wght@100..900&family=Vibes&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    90deg,
    rgb(20, 19, 19) -1.19%,
    rgb(13, 13, 43) 100%
  );
  width: 100%;
  height: 100vh;
  font-family: "Noto Kufi Arabic", sans-serif;
  color: #ddd;
  font-size: 1rem;
}

.header {
  height: 20%;
  border-bottom: .1em solid #cccccc3d;
  color: #4788ad83;
  text-shadow: -1px 1px 1px #cccccc60;
  text-align: center;
  padding-top: 1.5rem;
  letter-spacing: 1px;
  font: inherit;
}
.container {
  width: 100%;

  display: grid;
  place-content: center;
  margin: 2rem auto;
}
.input-item {
  width: 400px;
  margin-block-end: 5px;
}
.input-item label {
  display: block;
  margin-block-end: 5px;
}
.input-item label[for="check"] {
  margin-block-start: 5px;
  display: inline-block;
}

.input-item #pass {
  border-radius: 8px;
  width: 100%;
  padding: 1rem .5rem;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.014);
  color: #fff;
}
